.intro-image {
  width: 100%;
  height: auto;
}
.intro-image-absolute {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
  height: auto;
  @include media-breakpoint-up(md) {
    max-width: 300px;
    margin: 0 auto;
  }
  @include media-breakpoint-up(lg) {
    max-width: 320px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
