.logo-img {
  height: 32px;
  width: auto;
  display: block;
}

.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  a {
    display: block;
  }
}
.logo-mobile {
  display: block;
  padding: 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  a {
    display: block;
  }
}